<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="wordpress测试用例" verbose="1" >
	<listeners> 
		<listener class-name="com.wordpress.core.WebTestListener" />
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
	</listeners>

	<test name="登陆测试">
			<classes>
			<class name="com.wordpress.test.LoginTest" />
			</classes>
	</test>
	<test name="外观测试">
		<classes>
			<class name="com.wordpress.test.ThemeTest" />
			<class name="com.wordpress.test.LittleToolsTest" />
			
		</classes>
	</test>

</suite>