<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="wordpress测试用例" verbose="1" >
	<listeners> 
		<listener class-name="com.webtest.core.WebTestListener" />
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
	</listeners>
	
	<test name="登陆测试">
			<classes>
			<class name="com.wordpress.test.Login_Test" />
			</classes>
	</test>
	<test name="外观测试">
		<classes>
			<class name="com.wordpress.test.LittleTools_Test" />
			<class name="com.wordpress.test.Menus_Test"/>
			<class name="com.wordpress.test.Theme_Test" />
			<class name="com.wordpress.test.Top_Test"/>
		</classes>
	</test>

</suite>